@model IEnumerable < MVC.Models.EmployeeList>

@using MVC.Models;

@{
    ViewBag.Title = "This Should List of Employee ";
}

<div style="font-family:Arial">
    <h2>Employee List</h2>
    <ul>
        @foreach (EmployeeList employee in @Model)
        {
            <li>
                @Html.ActionLink(employee.Name, "SecondDetails", new { id = employee.EmployeeId })
            </li>
        }
    </ul>
    @Html.ActionLink("Back to List", "Index","Department")
</div>


